# AWS - RDS MySQL
### Paquetes requeridos
Librería de Python necesaria para establecer conexión a una base de datos MySQL

In [1]:
!pip install PyMySQL

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: PyMySQL in c:\users\hegoi\appdata\roaming\python\python310\site-packages (1.1.1)

### Credenciales
Para acceder a la BD necesitaremos tres datos:
1. Endpoint/host: la dirección donde se encuentra el servidor
2. Usuario
3. Contraseña

In [3]:
#import configparser

# Cargar el archivo de configuración
#config = configparser.ConfigParser()
#config.read('config.ini')

# Acceder a las configuraciones
#username = config['Credentials']['username']
#password = config['Credentials']['password']
#host = config['Credentials']['host']
#port = config['Credentials']['username']

In [5]:
#host = "database-1.cxis8miowlr9.us-east-1.rds.amazonaws.com"
host = "database-2.cxis8miowlr9.us-east-1.rds.amazonaws.com"
port = 3306

In [5]:
#!pip install pymysql

### Conexion BD

In [3]:
import pymysql

In [11]:
#!python -m pip install pymysql

In [10]:
'''
pymysql.cursors.DictCursor para que los resultados que devuelva sean diccionarios,
por defecto devuelve tuplas. Asi podemos acceder por clave a las columnas.
'''

db = pymysql.connect(host = host,
                     user = username,
                     password = password,
                   #  cursorclass = pymysql.cursors.DictCursor
)

# El objeto cursor es el que ejecutará las queries y devolverá los resultados

cursor = db.cursor()

### Version DB

In [11]:
'''
Este es el engine version de la BD de AWS
fechtone trae la primera linea de la consulta
El execute() devuelve el numero de filas a las que ha afectado la query,
en este caso, devuelve una unica fila.

Execute se guarda en la conexion pero hasta que no hacemos commit
no se ejecutan las queries
de insert de datos y esas cosas...
'''

cursor.execute('SELECT VERSION()')
version = cursor.fetchone()
print(f'MySQL version: {version}')

MySQL version: ('8.0.39',)

### Creación de DB

In [12]:
# Creamos una BD. Tenemos una instancia de MySQL, pero no una BD
# Los comandos de SQL  se suelen poner en mayuscula
create_db = '''CREATE DATABASE country_database'''
cursor.execute(create_db)

# Podemos eliminar la BD
# drop_db = '''DROP DATABASE country_database'''
# cursor.execute(drop_db)

# La volvemos a crear
# cursor.execute(create_db)
# el output es el numero de filas afectadas

1

In [13]:
cursor.execute('SHOW DATABASES')
cursor.fetchall()

(('country_database',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',))

### Creación de tablas

In [16]:
'''
Creamos una tabla
Esto da error porque no le hemos dicho al servidor qué BD
queremos usar

'''

# crear una tabla que se llame country

create_table = '''
CREATE TABLE country (
    id INT NOT NULL auto_increment,
    name TEXT,
    continent TEXT,
    population INT,
    gdp DOUBLE,
    primary key (id)
)
'''
cursor.execute(create_table)

0

### Seleccionar la BD

In [15]:
# Para usar la BD  recien creada

cursor.connection.commit()
use_db = ''' USE country_database'''
cursor.execute(use_db)

0

In [17]:
# checkear todas las tablas que tiene mi db
cursor.execute('SHOW TABLES')
cursor.fetchall()

(('country',),)

In [ ]:

# drop_table = '''DROP TABLE country'''
# cursor.execute(drop_table)

In [27]:
'''
Creamos una tabla
Esto da error porque no le hemos dicho al servidor qué BD
queremos usar

'''

# crear una tabla que se llame country

create_table = '''
CREATE TABLE country (
    id INT NOT NULL auto_increment,
    name TEXT,
    continent TEXT,
    population INT,
    gdp DOUBLE,
    primary key (id)
)
'''
cursor.execute(create_table)

OperationalError: (1050, "Table 'country' already exists")

### Insertar datos

In [18]:
insert_data = '''
INSERT INTO country (name, continent, population, gdp)
VALUES ('Spain', 'Europe', 47, 1.74)
'''
cursor.execute(insert_data)

1

In [19]:
name = 'France'
continent = 'Europe'
population = 54
gdp = 2

In [20]:
insert_data = '''
INSERT INTO country (name, continent, population, gdp)
VALUES ('%s', '%s', '%s', '%s')
''' % (name,continent,population,gdp)

cursor.execute(insert_data)

1

### Leer datos

In [21]:
sql = '''SELECT * FROM country'''
cursor.execute(sql)

2

In [22]:
mi_lista = cursor.fetchall()
len(mi_lista)

2

In [23]:
mi_lista

((1, 'Spain', 'Europe', 47, 1.74), (2, 'France', 'Europe', 54, 2.0))

### Guardar los cambios
Hay que ejecutar el commit antes de cerrar la sesión de la BD para que se guarden todos los cambios

In [24]:
db.commit()

### Excepciones
Se recomienda rodear este tipo de sentencias con un try/except, ya que suele ser software productivo y tiene que saber manejar fallos

In [36]:
sql = '''SELECT * FROM country'''
cursor.execute(sql)
print(cursor.fetchall())
print('Proceso finalizado')

((1, 'Spain', 'Europe', 47, 1.74), (2, 'France', 'Europe', 54, 2.0))
Proceso finalizado

In [22]:
try:
    sql = '''SELECT * FROM countryy'''
    cursor.execute(sql)
    print(cursor.fetchall())
except Exception as e:
    print(e)

print('Proceso finalizado')

(1146, "Table 'country_database.countryy' doesn't exist")
Proceso finalizado